{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

          Hello there! I'm Ibrahim, a budding web developer from Egypt. I recently graduated from collage ,
          and I'm on a journey to delve deeper into the world of web development.
          My passion lies in creating digital experiences that not only captivate but also simplify and enhance user interactions.
          Apart from coding, I enjoy exploring new technologies and techniques to enrich my skill set.
          Beyond the screen, I aspire to find my niche in this dynamic field while fostering a sense of tranquility and balance in my life.
          Ultimately, my goal is to craft meaningful digital solutions that resonate with users and contribute positively to the online community.
        </p>


      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
